<!Doctype html>
<html>
  <head>
    <!-- BEGIN TITLE -->
    <title> {PAGE_TITLE} </title>
    <!-- END TITLE -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />

  </head>
  <body>
    <!-- BEGIN CONTENT -->
    <div class="row">
      <div class="col-md-12">

        <h1> Welcome {USER_FIRST_NAME} - {HEADER} </h1>

          <h2> Applications </h2>
      </div>
    </div>
    <!-- END CONTENT -->
          <div class = 'row'>
            <!-- BEGIN CARD -->
              <div class = 'col-xs-12 col-sm-6'>
                <div><img class = 'img img-responsive' src ='{CARD_IMG}' /></div>
                <h3> {CARD_TITLE} </h3>
              </div>
              <!-- END CARD -->
            </div>
    <div class="row">
      <div class="col-md-12">
        <h2> Documents </h2>
      </div>
    </div>

  </body>
</html>
